.bg-one2 {
  background-image: url(../images/dev.bg2.png);
  min-height: 555px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-color: #ececec; }
  .bg-one2 h2 {
    font-size: 42px;
    font-weight: 200;
    color: #fff;
    margin: 0px;
    margin-bottom: 15px;
    padding-top: 213px; }
  .bg-one2 h3 {
    font-size: 24px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 0px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5); }

.after-bg-menu .inline-dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-top: 22px;
  margin-bottom: 8px; }
  .after-bg-menu .inline-dev .follow-btn {
    margin-top: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .after-bg-menu .inline-dev .follow-btn .forms {
      height: 48px; }
      .after-bg-menu .inline-dev .follow-btn .forms label {
        margin-bottom: 0px; }
    .after-bg-menu .inline-dev .follow-btn a {
      background-color: #3f81c7;
      color: white;
      -webkit-border-top-right-radius: 3px;
      border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      border-bottom-right-radius: 3px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      font-weight: 300;
      letter-spacing: 0.6px;
      text-align: center;
      padding: 14px 28px 17px;
      height: 48px; }
    .after-bg-menu .inline-dev .follow-btn input {
      margin: 0;
      padding: 0;
      -webkit-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-left: 1px solid #b7b7b7;
      border-top: 1px solid #b7b7b7;
      border-bottom: 1px solid #b7b7b7;
      border-right: none;
      padding: 14px 10px 14px;
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.6px;
      text-align: center;
      background-color: transparent;
      outline: none;
      height: 48px; }

.after-bg-menu nav {
  line-height: 24px;
  height: 100%;
  padding: 0;
  margin: 0; }
  .after-bg-menu nav ul {
    padding: 0;
    margin: 0; }
    .after-bg-menu nav ul li {
      display: inline;
      padding: 0;
      margin: 0;
      margin-right: 73px; }
      .after-bg-menu nav ul li a {
        padding: 0;
        margin: 0;
        vertical-align: top;
        color: #777;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 1px;
        text-transform: uppercase;
        height: 100%;
        text-decoration: none;
        padding: 27px 10px 25px 10px; }
        .after-bg-menu nav ul li a:hover {
          border-bottom: 2px solid #3f81c7;
          -webkit-box-shadow: 1px 0 0px 0px rgba(238, 238, 238, 0.8), -1px 0 0px 0px rgba(238, 238, 238, 0.8);
          box-shadow: 1px 0 0px 0px rgba(238, 238, 238, 0.8), -1px 0 0px 0px rgba(238, 238, 238, 0.8); }

.dev-cards {
  background-color: #f4f4f4; }

.follow-news {
  margin-top: 31px;
  text-align: center; }
  .follow-news h2 {
    color: #5B5C59;
    font-size: 42px;
    font-weight: 100;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px; }
  .follow-news h3 {
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 54px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px; }

.card1, .card2, .card3 {
  margin-bottom: 70px;
  background-color: #fff;
  padding-bottom: 20px;
  border: 1px solid #e0e0e0;
  -webkit-border-radius: 4px;
  border-radius: 4px; }
  .card1 .card-bg1 a, .card1 .card-bg2 a, .card1 .card-bg3 a, .card2 .card-bg1 a, .card2 .card-bg2 a, .card2 .card-bg3 a, .card3 .card-bg1 a, .card3 .card-bg2 a, .card3 .card-bg3 a {
    min-height: 240px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    display: block; }

.time-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 20px; }
  .time-block .card-month {
    position: relative; }
    .time-block .card-month:before {
      content: '';
      height: 13px;
      width: 20%;
      position: absolute;
      top: 2px;
      left: 2px;
      background-image: url(../images/card-pen-ico.svg);
      background-repeat: no-repeat;
      opacity: 0.5; }
    .time-block .card-month p {
      margin-left: 18px;
      color: #333;
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      opacity: 0.5; }
  .time-block .card-time {
    position: relative; }
    .time-block .card-time:before {
      content: '';
      height: 15px;
      width: 20%;
      position: absolute;
      top: 1px;
      left: 17px;
      background-image: url(../images/card-clock-ico.svg);
      background-repeat: no-repeat;
      opacity: 0.5; }
    .time-block .card-time p {
      margin-left: 40px;
      color: #333;
      font-size: 14px;
      font-weight: 300;
      line-height: 17px;
      opacity: 0.5; }

.main-info-card {
  padding: 0 20px;
  padding-bottom: 10px;
  position: relative; }

.topic-block {
  position: relative; }
  .topic-block p {
    color: #333;
    font-family: "Helvetica Neue";
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.01em; }
  .topic-block:before {
    content: '';
    height: 1px;
    width: 20%;
    position: absolute;
    bottom: -10px;
    left: 105px;
    background-repeat: no-repeat;
    background-color: #3f81c7; }

.card-about-block {
  margin-top: 20px; }
  .card-about-block p {
    color: #333;
    font-family: "Helvetica Neue";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px; }

.bottom-text-block {
  position: absolute;
  bottom: 0; }
  .bottom-text-block a {
    opacity: 0.5;
    color: #333;
    font-family: "Helvetica Neue";
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    text-decoration: none; }

.show-more-btn {
  text-align: center;
  margin-bottom: 67px; }
  .show-more-btn a {
    background-color: transparent;
    color: #3f81c7;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 300;
    letter-spacing: 0.6px;
    text-align: center;
    padding: 18px 46px 18px 47px;
    border: 1px solid #3f81c7; }
    .show-more-btn a:hover {
      background-color: #3f81c7;
      color: #fff; }

.bl-mob-line {
  position: relative; }
  .bl-mob-line:before {
    position: absolute;
    content: '';
    height: 15px;
    width: 100%;
    position: absolute;
    background-image: url(../images/blue-line-mob.png);
    background-repeat: no-repeat;
    bottom: -25px;
    background-position: center center;
    left: 0%; }

.recomendation {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 37px;
  position: relative; }
  .recomendation a {
    color: #777;
    font-family: "Helvetica Neue";
    font-size: 17px;
    font-weight: 300;
    line-height: 17px;
    text-decoration: none;
    position: relative;
    pointer-events: none;
    -webkit-transition: 0.25s ease-out;
    transition: 0.25s ease-out; }
    .recomendation a:before {
      position: absolute;
      content: '';
      height: 15px;
      width: 14%;
      position: absolute;
      top: 4px;
      right: -40px;
      background-image: url(../images/arrow-blog.svg);
      background-repeat: no-repeat;
      -webkit-transition: all .4s ease;
      transition: all .4s ease; }

.after-bg-menu .text-mobail-vers {
  text-align: center; }
  .after-bg-menu .text-mobail-vers h2 {
    color: #5B5C59;
    font-size: 42px;
    font-weight: 100;
    margin-bottom: 25px;
    padding-left: 10px;
    padding-right: 10px; }
  .after-bg-menu .text-mobail-vers h3 {
    color: #9b9b9b;
    font-size: 18px;
    font-weight: 100;
    margin-bottom: 33px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px; }

.after-bg-menu .btn-mobail-vers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-left: 24%;
  margin-bottom: 20px; }
  .after-bg-menu .btn-mobail-vers .follow-btn {
    margin-top: -10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .after-bg-menu .btn-mobail-vers .follow-btn .forms {
      height: 48px; }
      .after-bg-menu .btn-mobail-vers .follow-btn .forms label {
        margin-bottom: 0px; }
    .after-bg-menu .btn-mobail-vers .follow-btn a {
      background-color: #3f81c7;
      color: white;
      -webkit-border-top-right-radius: 3px;
      border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      border-bottom-right-radius: 3px;
      text-transform: uppercase;
      text-decoration: none;
      cursor: pointer;
      font-weight: 300;
      letter-spacing: 0.6px;
      text-align: center;
      padding: 14px 28px 17px;
      height: 48px; }
    .after-bg-menu .btn-mobail-vers .follow-btn input {
      margin: 0;
      padding: 0;
      -webkit-border-top-left-radius: 3px;
      border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      border-bottom-left-radius: 3px;
      border-left: 1px solid #b7b7b7;
      border-top: 1px solid #b7b7b7;
      border-bottom: 1px solid #b7b7b7;
      border-right: none;
      padding: 14px 10px 14px;
      text-align: center;
      font-weight: 300;
      letter-spacing: 0.6px;
      text-align: center;
      background-color: transparent;
      outline: none;
      height: 48px; }

.about-us-blog {
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-bottom: none;
  line-height: 68px;
  cursor: pointer; }
  .about-us-blog a {
    color: #777;
    font-family: "Helvetica Neue";
    font-size: 17px;
    font-weight: 300;
    line-height: 17px;
    position: relative;
    pointer-events: none; }
    .about-us-blog a:before {
      position: absolute;
      content: '';
      height: 15px;
      width: 18%;
      position: absolute;
      top: 4px;
      right: -43px;
      background-image: url(../images/arrow-blog.svg);
      background-repeat: no-repeat;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.trends-blog {
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  border-bottom: none;
  line-height: 68px;
  cursor: pointer; }
  .trends-blog a {
    color: #777;
    font-family: "Helvetica Neue";
    font-size: 17px;
    font-weight: 300;
    line-height: 17px;
    position: relative;
    pointer-events: none; }
    .trends-blog a:before {
      position: absolute;
      content: '';
      height: 15px;
      width: 14%;
      position: absolute;
      top: 4px;
      right: -29px;
      background-image: url(../images/arrow-blog.svg);
      background-repeat: no-repeat;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.news-blog {
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #eee;
  line-height: 68px;
  cursor: pointer; }
  .news-blog a {
    color: #777;
    font-family: "Helvetica Neue";
    font-size: 17px;
    font-weight: 300;
    line-height: 17px;
    position: relative;
    pointer-events: none; }
    .news-blog a:before {
      content: '';
      height: 15px;
      width: 24%;
      position: absolute;
      top: 4px;
      right: -50px;
      background-image: url(../images/arrow-blog.svg);
      background-repeat: no-repeat;
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.col-marg {
  padding-left: 0px;
  padding-right: 0px; }

.footer-btns {
  background-color: #f4f4f4; }

.recomendation .rotation-btn:before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }

.amazing-marg {
  margin-top: 20px; }

/*# sourceMappingURL=css/dev.index2.css.map */
