.fullwidthindex
    .index-banner
        div(style="background-image:url(images/banner.jpg)")
            h2.text-center Помни о прошлом, живи <br class="hidden-sm variable-xs"> настоящим, инвестируй в будущее
            h3.text-center.hidden-xs Стратегические инвестиции в реальный сектор экономики
            a.bluebutton.small_custom_buttom(href="/catalog") Инвестировать
            .networkgroup
                a.fb(href="#" onclick="Share.facebook()")
                a.vk(href="#" onclick="Share.vkontakte()")
                a.tw(href="#" onclick="Share.twitter()")
                a.in(href="#" onclick="Share.in()")
                a.gp(href="#" onclick="Share.gplus()")
        div(style="background-image:url(images/banner3.jpg)")
            h2.text-center Помни о прошлом, живи <br class="hidden-sm variable-xs"> настоящим, инвестируй в будущее
            h3.text-center.hidden-xs Стратегические инвестиции в реальный сектор экономики
            a.bluebutton.small_custom_buttom(href="/catalog") Инвестировать
            .networkgroup
                a.fb(href="#" onclick="Share.facebook()")
                a.vk(href="#" onclick="Share.vkontakte()")
                a.tw(href="#" onclick="Share.twitter()")
                a.in(href="#" onclick="Share.in()")
                a.gp(href="#" onclick="Share.gplus()")
