if server == 1
  - var server = 1
else
  include /includes/python_compat.jade
doctype html
html(lang="ru")
  include /includes/head.jade
  body
    if status == 0
      include /includes/autentification.jade
    include /includes/preloader.jade
    include /includes/topVerification.jade
    section.topnav
      include /includes/topMenu.jade
    block content
    section
      include /includes/footer.jade
    .overlay_message(style="display: none") Test message
    .overlay_white(style="display: none")
    //-.overlay_preloader: .preloader
    block scripts
