mixin companyblock(company)
  //- Тип: "share_capital" - акционерный капитал, "credit" - кредит, "fractional_ownership" - долевое владение
  - var type = company.company_type.codename
  //- Цель в рублях
  - var result = company.investment_target
  //- Уже получено в рублях
  - var received = company.invested
  //- Процент
  if received > 0
    - var procent = 100 / (result / received)
  else
    - var procent = 0
  - var procent = round(procent, 1)
  if procent > 100
    - var procent = 100

  //- Прогнозируемая доходность в процентах
  - var forecast = 30
  //- Минимальная инвестиция в рублях
  - var minInvestment = company.investment_min

  - var text = company.company_type.name
  if (type == "share_capital")
    - var picture = "/images/vid1.svg";
    - var metaHeader1 = "Категория:";
    - var metaHeader2 = "Предлагаемый пакет";
  if (type == "credit")
    - var text = "Кредит";
    - var picture = "/images/vid2.svg";
    - var metaHeader1 = "Обеспечение";
    - var metaHeader2 = "Срок займа";
  if (type == "fractional_ownership")
    - var text = "Долевое владение";
    - var picture = "/images/vid3.svg";
    - var metaHeader1 = "Категория здания";
    - var metaHeader2 = "Окупаемость";

  if company.for_edit
    - var for_edit = 1
  else
    - var show_extras = 1
  - var procent2 = 0
  - var procent3 = procent
  - var filter = "faded"
  if (procent > 100)
    - var procent2 = procent - 100
    - var procent = 100
    - var filter = ""
  if (procent2 > 100)
    - var procent2 = 96
  .companyblock.text-left
    .companyblock_pic(style="background-image:url('/uploads/company/#{company.id}/album.jpg')")
      if show_extras
        a.companyblock_name(href="/company/"+company.name_translit) #{company.name}
      else
        a.companyblock_name(href="/company/"+company.name_translit+"/edit") #{company.name}
    .companyblock_logo(style="background-image:url('/uploads/company/#{company.id}/logo.jpg')")
    .companyblock_container
      .companyblock_type(style="background-image: url('"+picture+"')") #{text}
      .companyblock_location #{company.address}
      .companyblock_about #{company.summary}
      for option in company.company_type.options_front
        if company.company_type.options[option].type == "select"
          .companyblock_metadata
            spam.companyblock_metadata_header #{company.company_type.options[option].name}
            spam.companyblock_metadata_name #{company.type_options[option].value}
        if company.company_type.options[option].type == "value"
          .companyblock_metadata
            spam.companyblock_metadata_header #{company.company_type.options[option].name}
            spam.companyblock_metadata_name #{company.type_options[option].value}#{company.company_type.options[option].units}
        if company.company_type.options[option].type == "range"
          .companyblock_metadata
            spam.companyblock_metadata_header #{company.company_type.options[option].name}
            spam.companyblock_metadata_name Мин: #{company.type_options[option].min}#{company.company_type.options[option].units} Макс: #{company.type_options[option].max}#{company.company_type.options[option].units}
      .companysScale
        .resultData
          .startTime 10 декабря 2015г.
          .necessaryInvestments
            span Необходимо
            span.money #{result}
            span.rubl Р
        .range

          img.start(src="/images/start.svg")
          .rangeContainer
            .greyline
            .blueline(style="width:"+str(procent)+"%")
            .marker(style="left:"+str(procent)+"%")
            .companyblock_procent(style="left:"+str(procent)+"%") #{procent3}%
          img.done(src="/images/toggle-on.svg",style="right:"+str(procent2)+"%")
          img.finish(src="/images/finish.svg",class=filter)
        .companyblock_characteristics
          .companyblock_characteristic1
            div
              |Минимальная
              br
              |инвестиция
            div
              span.money 60000
              span.rubl Р
          .companyblock_characteristic1
            div
              |Уже
              br
              |инвестировано
            div
              span.money #{received}
              span.rubl Р
          .companyblock_characteristic1
            div
              | Прогнозируемая
              br
              |доходность
            div
              span #{forecast}%
        if show_extras
          .companyblock_links
            a.bluebutton(href="/company/"+company.name_translit) ИНВЕСТИРОВАТЬ
            a.whitebutton(href="/company/"+company.name_translit) ПОДРОБНЕЕ
