include /includes/companyblock.jade
if server
  | {% from '/includes/companyblock.jade' import companyblock %}
//- Тип: 1 - акционерный капитал, 2 - кредит, 3 - долевое владение
- var type = 2
//- Цель в рублях
- var result = 1200000000
//- Уже получено в рублях
- var received = 200000000
//- Процент
- var procent = 100 / (result / received)
- var procent = round(procent, 1)
if procent > 100
    - var procent = 100

if(type == 1)
    - var text = "Акционерный капитал";
    - var picture = "/images/vid1.svg";
if(type == 2)
    - var text = "Кредит";
    - var picture = "/images/vid2.svg";
if(type == 3)
    - var text = "Долевое владение";
    - var picture = "/images/vid3.svg";

.company
    - if (noshow_comp != 1)
        .mostPopular.container-fluid
            .content
                .companyPic.col-md-6.col-lg-6.col-sm-6.col-sm-12
                    .Pic(style="background-image:url(images/progect1.png)")
                .companyData.col-md-6.col-lg-6.col-sm-6.col-sm-12
                    a.companyName(href="#") Соль Руси
                    .companyDataContainer
                        .companyDataPosition Россия, Московская область, г. Москва
                        .companyActivity(style="background-image: url('"+picture+"')") #{text}
                    .companyAnons Создаваемый (startup) соледобывающий завод мощностью 600 тыс.тонн/год с собственным солепромыслом на базе Белбажского месторождения.
                    .companyMetaData
                        .parametr Необходимая сумма инвестиций:
                        .znachenie
                            span.money #{result}
                            span.rubl Р
                    .companyMetaData
                        .parametr Предлагаемый пакет акций:
                        .znachenie
                            .min мин:
                                span 18.75%
                            .max макс:
                                span 30%
                    .companyMetaData
                        .parametr Оценка компании (до инвестиций)
                        .znachenie
                            span.money 6400000000
                            span.rubl Р
                    .companyMetaData
                        .parametr Инвестировано
                        .znachenie
                            span.money #{received}
                            span.rubl Р
                    .companyMetaData
                        .parametr Минимальная сумма для инвестиций:
                        .znachenie
                            span.money 10000
                            span.rubl Р
                    .progectHeaderLinks.container-fluid.zero
                      .popover.top
                        .arrow
                        h3.popover-title Popover top
                        .popover-content
                          p Sed posuere consectetur est at lobortis. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum.
                      a.bluebutton Инвестировать
                      .subscribe
                        input.subscribeMail(type="text",placeholder="Ваш e-mail")
                        input(type="submit", value="Подписаться")
                    //- .companylinks
                    //-     a.bluebutton ИНВЕСТИРОВАТЬ
                    //-     a.blackbutton ПОДПИСАТЬСЯ
                .companysScale
                    .resultData
                        .startTime 10 декабря 2015г.
                        .necessaryInvestments
                            span Необходимые инвестиции
                            span.money #{result}
                            span.rubl Р
                    .range
                        - var procent2 = 0
                        - var procent3 = procent
                        - var procent4 = procent-10
                        - var filter = "faded"
                        if (procent >= 100)
                            - var procent2 = procent - 100
                            - var filter = ""
                        if (procent >= 99.6)
                            - var procent = 99.6
                        if (procent2 > 100)
                            - var procent2 = 98.6
                        if (procent4 > 75.5)
                            - var procent4 = 75.5
                        if (procent4 < 1)
                            - var procent4 = 1
                        img.start(src="/images/start.svg")
                        .rangeContainer
                            .greyline
                            .blueline(style="width:"+str(procent)+"%")
                            .marker(style="left:"+str(procent)+"%") #{procent3}%
                            .received(style="left:"+str(procent4)+"%")
                                span Получено от инвесторов
                                span.money #{received}
                                span.rubl Р
                        img.done(src="/images/toggle-on.svg",style="width: 27px;right:"+str(procent2)+"%")
                        img.finish(src="images/finish.svg",class=filter)
    .companySlider.content
        - if (noshow_comp != 1)
            .carousel_header САМЫЕ ИНВЕСТИРУЕМЫЕ КОМПАНИИ
        .carousel
          if is_empty(companies)
            - var companies = []
          for company in companies
            div
              +companyblock(company)
        .allProgects
            a(href="#") ВСЕ КОМПАНИИ
            img(src="images/caret.svg")
