if env == "dev"
  footer
    .footer
      .content.container-fluid.zero
        .footer_right_part.col-lg-3.col-md-3.col-sm-12
          .footer_right_header СОЦИАЛЬНЫЕ СЕТИ
          .footer_right_networks
            a(href="#"): img(src="/images/fnet.svg")
            a(href="#"): img(src="/images/vknet.svg")
            a(href="#"): img(src="/images/twitternet.svg")
            a(href="#"): img(src="/images/instnet.svg")
            a(href="#"): img(src="/images/googlenet.svg")
          .langContainerBottom
            button.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
              img(src="/images/ru.svg")
              span.langname Русский
            ul.dropdown-menu
              li: a(href="#",style="background-image:url('images/uk.svg')") Английский
              li: a(href="#",style="background-image:url('images/de.svg')") Немецкий
              li: a(href="#",style="background-image:url('images/fr.svg')") Фарнцузский
              li: a(href="#",style="background-image:url('images/es.png')") Испанский
        .footer_left_part.container-fluid.col-lg-9.col-md-9.col-sm-12.zero
          .footer_menu
            .navbar-header
              button.navbar-toggle(type='button',data-toggle='collapse',data-target="#navbar_collapse_2") Больше информации
            .collapse.navbar-collapse#navbar_collapse_2
              ul
                li: a(href="/how") Как это работает 
                li: a(href="/how_to_invest") Как стать инвестором 
                li: a(href="/how_to_get") Как получить инвестиции 
                li: a(href="#") Агентам 
                li: a(href="#") Партнерская программа
                li: a(href="#") Карьера
                li: a(href="#") Контакты
          .footer_menu
            .navbar-header
              button.navbar-toggle(type='button',data-toggle='collapse',data-target="#navbar_collapse_3") Инвестиционные проекты
            .collapse.navbar-collapse#navbar_collapse_3
              ul
                li: a(href="#") Акционерный капитал
                li: a(href="#") Долевое владение
                li: a(href="#") Кредит
          .footer_menu
            .navbar-header
              button.navbar-toggle(type='button',data-toggle='collapse',data-target="#navbar_collapse_4") Правовая информация
            .collapse.navbar-collapse#navbar_collapse_4
              ul
                li: a(href="/risks") Риски
                li: a(href="#") Пользовтельское соглашение
                li: a(href="#") Политика конфиденциальности
                li: a(href="#") Информация о рисках
          .footer_menu
            .navbar-header
              button.navbar-toggle(type='button',data-toggle='collapse',data-target="#navbar_collapse_5") Блог
            .collapse.navbar-collapse#navbar_collapse_5
              ul
                li: a(href="#") Голоссарий
                li: a(href="#") FAQ
                li: a(href="#") Блог
    .copyrights
      .text-center
        | <span>ООО «Тугуш»</span> владеющая торговой маркой Tugush и любой из его филиалов не делает инвестиционные рекомендации для вас. Ни одно сообщение от <span>ООО «Тугуш»</span> владеющей торговой маркой Tugush или любой из его филиалов, через этот веб-сайт или любой другой источник, не должно быть истолковано как рекомендация к инвестициям. Кроме того, ничто на этом сайте, не может рассматриваться как предложение о продаже, или приглашением открытой оферты на покупку. Если вы находитесь в юрисдикции которая запрещает вам совершать инвестиции в предложенные на сайте проекты, вы не можете использовать сайт tugush.com.<br><br><span>ООО «Тугуш»</span> владеющая торговой маркой Tugush и любой из его филиалов не предоставляют юридические, финансовые или налоговые консультации любого рода для вас. Если у вас есть какие-либо вопросы в отношении юридических, финансовых или налоговых вопросах, имеющих отношение к вашим взаимодействия с <span>ООО «Тугуш»</span> владеющей торговой маркой Tugush и любым из его филиалов, вы должны проконсультироваться с профессиональным консультантом. <span>ООО «Тугуш»</span> владеющая торговой маркой Tugush и любой из его филиалов не гарантирует доход и предупреждает о рисках потери средств или инвестиционного дохода. Результаты инвестирования в прошлом не определяют доходы в будущем.
        div.hidden
          | Tugush is authorised and regulated by the Financial Conduct Authority (No. 550317).<br class="hidden-xs hidden-sm">
          | © Tugush2015. All rights reserved. Seedrs is a registered European Community trademark (No. 008771537) and registered United States service mark (No. 85423072)<br class="hidden-xs hidden-sm"> of Seedrs Limited, a limited company registered in England and Wales (No. 06848016), with registered office at 201 Borough High Street,<br class="hidden-xs hidden-sm">
          | London SE1 1JA, United Kingdom. Seedrs.com is a website owned and operated by Seedrs Limited.
  