head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title
                | Tugush
        link(rel='shortcut icon', href='/images/favicon.png', type='image/png')
        // Bootstrap
        link(href='/css/bootstrap.min.css', rel='stylesheet')
        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //if lt IE 9
          script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
          |
          script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
        link(href='/css/bootstrap-datetimepicker.min.css', rel='stylesheet')
        link(href='/css/cropper.min.css', rel='stylesheet')
        link(href='/css/font-awesome.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        link(href='/css/styles.css', rel='stylesheet')
        link(href='/css/phonecode.css', rel='stylesheet')
        script(src="/js/jquery-2.2.4.min.js")
        script(src='/js/tinymce/tinymce.min.js')
        script(src='/js/moment-with-locales.min.js')
        script(src='/js/bootstrap.min.js')
        script(src='/js/bootstrap-datetimepicker.min.js')
        script(src='/js/jquery.maskedinput.js')
        script(src='/js/jquery.ui-slider.js')
        script(src='/js/polzunki.js')
        script(src='/js/jquery.validate.min.js')
        script(src='/js/validator.js')
        script(src='/js/jquery.ui.touch-punch.js')
        script(src="/js/vendor/jquery.selectric.min.js")
        script(src="/js/gui.js")
        script(src='/js/slick.js')
        script(src='/js/sliders.js')
        script(src='/js/scripts.js')
        script(src='/js/app.js')
        script(src='/js/api.js')
        script(src='/js/ui.js')
        script(src='/js/counties.js')
        script(src='/js/phonecode.js')
        if show_login
          script.
            $(document).ready(function(){
              $(".autentification-button").trigger("click");
            });
