mixin render_notice(notice, its_template)

  .row.notice(data-template=notice.template)
    if its_template
      .col-md-6.datetime: .datetime-contents: p !{"[created_at]"}
    else
      .col-md-6.datetime: .datetime-contents: p !{datetime_to_readable(notice.created_at)}
    .col-md-18.text
      if notice.template == "investment_approved"
        .text-contents: p
          | Ваша инвестиция в проект&nbsp;
          a(href="/company/"+notice.data["company"]["name_translit"]) #{notice.data["company"]["name"]}
          |  одобрена.
      if notice.template == "investment_rejected"
        .text-contents: p
          | Ваша инвестиция в проект&nbsp;
          a(href="/company/"+notice.data["company"]["name_translit"]) #{notice.data["company"]["name"]}
          |  отклонена.
      if notice.template == "investment_request"
        .text-contents: p
          a(href="/company/"+notice.data["company"]["name_translit"]+"#investment_request_"+notice.data["investment"]["id"]) Новая заявка
          | &nbsp;на инвестирование в проект&nbsp;
          a(href="/company/"+notice.data["company"]["name_translit"]) #{notice.data["company"]["name"]}
          | .
      if notice.template == "investment"
        .text-contents: p
          a(href="/user/"+notice.data["investor"]["id"]) #{notice.data["investor"]["name"]}
          |  вложил в проект&nbsp;
          a(href="/company/"+notice.data["company"]["name_translit"]) #{notice.data["company"]["name"]}
          | . До достижения финального результата осталось #{notice.data["percents"]}%
      if notice.template == "finish"
        .text-contents: p Проект&nbsp;
          a(href="/company/"+notice.data["company"]["name_translit"]) #{notice.data["company"]["name"]}
          |  успешно завершился.
      if notice.template == "company_approved"
        .text-contents: p Ваш проект&nbsp;
          a(href="/company/"+notice.data["company"]["name_translit"]) #{notice.data["company"]["name"]}
          |  был подтверждён модератором.
      if notice.template == "company_rejected"
        .text-contents: p Ваш проект&nbsp;
          a(href="/company/"+notice.data["company"]["name_translit"]) #{notice.data["company"]["name"]}
          |  был отклонен модератором. Пожалуйста,&nbsp;
          a(href="/company/"+notice.data["company"]["name_translit"]+"/edit") внесите правки
          |  и подтвердите проект повторно.
