.pluses.content
  h2.text-center Вкладывайте свои деньги с максимальной выгодой!
  h3.text-center Наша главная цель сопровождать проекты до, во время и после привлечения инвестиций. Вовлекать инвесторов, становиться частью процесса - это дает компаниям максимальною возможность для успеха! Наша миссия — сделать процесс инвестирования в компании простым и удобным.
  .checkining.container
    .checkining_text Будте в курсе всех инвестиционных проектов. Никакого спама, только по делу.
    .checkining_links
      if status == 0
        .reg-button-container
          a.bluebutton.small_custom_buttom Регистрация
      .subscribe-input-container
        input.subscribe-input(type="text", data-input="email", placeholder="Ваш E-mail")
      a.whitebutton.small_custom_buttom(data-action="subscribe")
        .text Подписаться
        .arrow ➔
      script.
        function validateEmail(email) {
          var re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
          return re.test(email);
        }
        function subscribe(email) { // TODO
          return true;
        }
        $(document).ready(function(){
          $("[data-action='subscribe']").on("click", function(e){
            e.preventDefault();
            $("[data-input='email']").removeClass("error");
            if ($(".checkining_links").hasClass("expanded")) { // Checking mail
              var email = $("[data-input='email']").val();
              if (validateEmail(email)) {
                subscribe(email);
              } else {
                $("[data-input='email']").addClass("error");
              }
            } else { // show mailbox
              $(".checkining_links").toggleClass("expanded");
            }
          });
        });
  .pluseslist
    -
      var items = [
        {
          'idx': 1,
          'text1': 'Объединяем инвесторов',
          'text2': 'Бизнес-ангелы, венчурные капиталисты, финансовые институты, друзья и родственники теперь могут инвестировать вместе.'
        },
        {
          'idx': 2,
          'text1': 'Лучшие компании',
          'text2': 'От идей до крупных публичных компаний, мы отбираем лучших для возможности преумножить свой капитал и участвовать в создании новых продуктов и услуг.'
        },
        {
          'idx': 3,
          'text1': 'Реальные инвестиции',
          'text2': 'Любой человек может инвестировать столько, сколько хочет, и в те компании, в которых он видит максимальную перспективу и пользу.'
        },
        {
          'idx': 4,
          'text1': 'Защита прав инвесторов',
          'text2': 'Получите защиту профессионального уровня, мы работаем по единым стандартам со всеми компаниями и инвесторами.'
        },
        {
          'idx': 5,
          'text1': 'Полный комплекс услуг',
          'text2': 'Мы не просто площадка. Наша команда работает на всех стадиях, с документами, финансами, отчетами, как с инвесторами так и с компаниями.'
        },
        {
          'idx': 6,
          'text1': 'Постоянное взаимодействие',
          'text2': 'Инвесторы и предприниматели всегда на связи благодаря онлайн платформе, на протяжении всего жизненного цикла проекта.'
        },
        {
          'idx': 7,
          'text1': 'Международная платформа с активными инвесторами со всеми мира',
          'text2': 'Наше сообщество носит поистине глобальный характер, с активными инвесторами и предпринимателями из 34 стран.'
        },
        {
          'idx': 8,
          'text1': 'Юридическое сопровждение',
          'text2': 'Все сделки проходят в сторгом соответсвии с законодательнством, обеспечивают максимальную прозрачность и защиту как для инвесторов так и для предпринимателей.'
        },
        {
          'idx': 9,
          'text1': 'Безопасность',
          'text2': 'Мы используем только безопасные способы финансирования проектов и перечисления денежных средств.'
        }
      ]
    ul.container
      for item in items
        li.col-lg-4.col-md-4.col-sm-6.col-xs-12
          .pluseslist_index.hidden-xs= item.idx
          .pluseslist_text
            img(src="images/plus"+str(item.idx)+".svg")
            .pluseslist_text1 #{item.text1}
            .pluseslist_text2 #{item.text2}
