-
  var str = function(variable){
    return variable;
  }
  var int = function(variable){
    return parseInt(variable);
  }
  var round = function(variable, digits){
    return variable.toFixed(digits);
  }
  var is_empty = function(item){
    return item == "undefined" || item == null || item == [] || item == "";
  }
  var current_year = function(){
    return new Date().getFullYear();
  }
  var valueate = function(start, iterations){
    var start = parseInt(start);
    var a = [];
    var i = 0;
    while (i < iterations) {
      a.push([start, start]);
      start = start + 1;
      i++;
    }
    return a;
  }
  var datetime_to_dmy = function(thing){
    return thing;
  }
