include /includes/notices.jade
if server
  | {% from './includes/notices.jade' import render_notice %}
.menu.content
  .logo
    a(href="/")
      img(src="/images/main-logo.svg")
  if env == "dev"
    .userTool
      if status == 1
        .userTool-notices
          if notices_count
            .badge #{notices_count}
          else
            .badge.hidden 0
          .userTool-notices-list(style="display: none;")
            for notice in user.notices_sorted
              +render_notice(notice)
        .btn-group.userData
          button.dropdownContainer(type="button",data-toggle="dropdown")
            if user.avatar
              .avatar(style="background-image:url('"+user.avatar+"');")
            else
              .avatar
            span.arrow-down
          ul.dropdown-menu.dropdown-menu-right
            li: a(href="/profile") Профиль
            li: a(href="/logout") Выйти
      if status == 0
        a.autentification-button(href="/enter") Войти
      .btn-group.langContainer
        button.btn.btn-default.dropdown-toggle(type="button",data-toggle="dropdown")
          a.lang(style="background-image:url('/images/ru.svg')")
          span.arrow-down
        ul.dropdown-menu.dropdown-menu-right
          li: a.lang(href="#",style="background-image:url('/images/uk.svg')")
          li: a.lang(href="#",style="background-image:url('/images/de.svg')")
          li: a.lang(href="#",style="background-image:url('/images/fr.svg')")
          li: a.lang(href="#",style="background-image:url('/images/es.png')")
  if env == "dev"
    input#hamburger(type="checkbox",name="hamburger",checked="false")
    label#hamb-button(for="hamburger")
  if env == "dev"
    nav
      ul
        li.formSearch
          form.search(method="post",)
            input(type="submit",value="")
            input(type="text",placeholder="ПОИСК")
        li.menuitem: a(href="/catalog"): span Инвестиционные проекты
        li.menuitem: a(href="/how_to_invest"): span Стать инвестором
        li.menuitem: a(href="/how_to_get"): span Привлечь инвестиции
        li.menuitem.dropdown
          a.dropdown-toggle(data-toggle='dropdown'): span Больше
            span.arrow-down
          ul.dropdown-menu
            li
              a(href="/risks") Риски
        li.hidden-line
