if server
	if notifications
		for notification in notifications
			.topVerification(style="display: block;")
				.content
					.close-btn &times;
					p !{notification.body}
else
	.topVerification
		.content
			.close-btn &times;
			p Вы не можете инвестировать на нашем ресурсе, пока не станете 
				a(href="/") верифицированным инвестором
