{% extends 'admin/model/edit.html' %}

{% block tail %}
    {{ super() }}
    <script src="/static/vendor/ckeditor/ckeditor.js"></script>
    <script>
        $(document).ready(function () {
            CKEDITOR.replace( 'content', {
                extraPlugins: "imagebrowser",
                imageBrowser_listUrl: "/ckupload/",
                filebrowserImageUploadUrl: '/ckupload/'
            });
        });
    </script>
{% endblock %}