extends /includes/base.jade
block content
    section
        div.fullwidthindex
            div.index-banner
                div(style="background-image:url(images/faqTop-background.jpg"))
                    h2.text-center FAQ
                    h3.text-center.hidden-xs Часто задаваемые вопросы
    section.navFaq.clearfix
        div.content
            div.left.clearfix
                for menuitem in menuitems
                    div(class=('left active' if active == menuitem.link else 'left'))
                        a(href="/faq?active=#{ menuitem.link }") #{ menuitem.title }
            form.right
                input(type="text" placeholder="Поиск")
                input(type="submit" value="ИСКАТЬ")
    section
        div.content
            div.faqBlock
                h2 Инвестиции в бизнес
                ul.question
                    li
                        a(href="#") Что вкладывает в бизнес о?
                    li
                        a(href="#") Может ли инвестирование в бизнес прибыльным?
                    li
                        a(href="#") Что вкладывает в бизнес о?
                    li
                        a(href="#") Может ли инвестирование в бизнес прибыльным?
                h2 Обеспечение инвестиций через Ziston
                ul.question
                    li
                        a(href="#") Что вкладывает в бизнес о?
                    li
                        a(href="#") Может ли инвестирование в бизнес прибыльным?
                    li
                        a(href="#") Что вкладывает в бизнес о?
                    li
                        a(href="#") Может ли инвестирование в бизнес прибыльным?
