extends /includes/base.jade
block content
    section
        include /includes/banner.jade
    section
        include /includes/plusesIndex.jade
    section.fon
        include /includes/company.jade
    section.fon
        .aboutUsSliderContainer.content
            .aboutUsSlider_header.container-fluid
                h2 О нас пишут
                p Ведущие деловые СМИ поддерживают нас и освещают нашу деятельность.
            .aboutUsSlider
                //- div: a(href="#"): img(src="/images/partners/partner1.png")
                //- div: a(href="#"): img(src="/images/partners/partner2.png")
                //- div: a(href="#"): img(src="/images/partners/partner3.png")
                //- div: a(href="#"): img(src="/images/partners/partner4.png")
                //- div: a(href="#"): img(src="/images/partners/partner5.png")
                //- div: a(href="#"): img(src="/images/partners/partner6.png")
                //- div: a(href="#"): img(src="/images/partners/partner1.png")
                div: a(href="#"): img(src="/images/logo-kommersant.png")
                div: a(href="#"): img(src="/images/logo-vedomosti.svg")
                div: a(href="#"): img(src="/images/logo-rbc.png")
                div: a(href="#"): img(src="/images/logo-lenta.png")
                div: a(href="#"): img(src="/images/logo-tass.png")
                div: a(href="#"): img(src="/images/logo-ria.png")
    section
        .review_bottom_banner(style="background-image:url('/images/banner2.jpg')")
            .content
                img(src="/images/review.svg")
                .review_bottom_banner_header
                .review_bottom_banner_text
                    |Инвестировать в бизнес на  платформе Tugush стало проще и безопаснее.
                    |Благодаря предварительной проверке, оценке рисков и разным инструментам, можно легко постороить диверсифецированный портфель
                    |с приемлемой доходностью. Спасибо!

                .review_name Александр, инвестор из Москвы.
    script.
      $(document).ready(function(){
        $("a[data-next-page]").on("click", function(e){
          e.preventDefault();
          localStorage.setItem("next_page", $(this).data("next-page"));
          location.href = "/register";
        });
      });

    section.content
        .goalUser.text-center
            .goalUser_Investing.col-md-6.col-sm-12
                .goalUser_header Инвестируйте в перспективные предприятия
                .goalUser_text Доступ к миру новых инвестиционных возможностей, присоединяйтесь и разделите успех с предпринимателями.
                .links_group
                    .goalUserFAQ
                        a(href="/how_to_invest") Как инвестировать
                        img(src="/images/caret4.svg")
                    a.whitebutton(data-next-page="become_an_investor") НАЧАТЬ ИНВЕСТИРОВАНИЕ
            .goalUser_Attraction.col-md-6.col-sm-12
                .goalUser_header Привлекайте финансирование для бизнеса умным способом
                .goalUser_text Гибкие условия привлечения инвестиций и дают дополнительные преимущества <br>для развития бизнеса.
                .links_group
                    .goalUserFAQ
                        a(href="/how_to_get") Как привлечь средства
                        img(src="/images/caret4.svg")
                    a.bluebutton(data-next-page="company/create") НАЧАТЬ ПРИВЛЕЧЕНИЕ СРЕДСТВ
        .goalUser_text2.container-fluid.text-center
